@charset "UTF-8";
/*      *********     custom for 426 < WIDTH < 768      *********     */

@media (min-width: 426px) and (max-width: 768px) {
/*           begin Bill custom for 426 < WIDTH < 768px           */
#masthead{
	margin: 0px;
	padding: 10px 0px 0px;
	border-bottom: 1px solid  #333;
	width: 100%;
	background-color: #FCFCFC;
     height:120px;
}
#facebook_youtube {
	float: right;
	font-size: 16px;
	padding: 0px 20px 0px 35px;
	border-left: dotted grey thin;
     max-width: 150px;
}
#facebook_youtube a:link, #facebook_youtube a:visited, #facebook_youtube a:hover {
	color: #4C588D;
	text-decoration: none; }
.face_tube {
	text-indent: -25px;
}
.face_tube:first-line {
    text-indent: -20px;
}
.face_tube img {
	width: 35px;
}
#facebook_youtube a:hover {
	text-decoration: underline; 
}
.face_tube_text {
     font-size: 12px;
     wwhite-space: nowrap;
     line-height: 50%;
}
#siteName {
	font-size: 32px;
}
#menu {
	font-size: 18px;
}
.current_headerA {font-size: 28px;}
.current_headerB {font-size: 28px;}
.a_sub {font-size: 20px;}
.coming_headerA {font-size: 28px;}
.coming_headerB {font-size: 28px;clear:left;}
#pageName {font-size: 26px;} 
subtitle {font-size: 22px;}      
#season {font-size: 24px;}

.show_image {
	margin: 15px;
	}     
.first_show_img, .second_show_img  {
	width: 95%;
	display: block;
     margin-left: auto;
     margin-right: auto;
	}
.first_show_img  {content: url("../gondoliers2025/artwork/logo/Gondoliers logo@600w.webp")}
.second_show_img {padding-top: 20px; content: url( "../howTo26/logo/FLABhowToChair@500.webp"); width: 500px;}         
.show_authors, .show_info, .current_directors, .current_venue, .current_castlist {
     text-align: center;
     line-height: 150%;
     padding: 5px 20px;
     margin: auto;
}
.show_authors {
    padding-top: 25px;
}     
#buyShowLink, #ViewShowSynopsis, #viewSynopsis { 
     margin: 0px;
     width: 90%;
}
#ShowSynopsis, #ShowSpringSynopsis {
    padding: 0px 5px 10px;
    text-align: left;
    margin-left: 0px;
}
.buy_tickets { 
	font-size: 12px;
	display: none;
}
.buy_tickets_small{
	font-size: 12px;
	display: inline-table;
}
.tickets {
	margin-left: 15px;
}

/*  ----- making navigation smaller font -----  */	
.secondary_header {
	padding-bottom: 10px;
}

h3 {font-size: 20px;
}
.container {
     font-size: 15px;
}
.social form {
	width: 100%;
	clear:none;
	text-align: center;
}
.social {
}
.social_icon {
	width: 100%;
	text-align: center;
	transition: all 0.3s linear;
	lline-height: 0px;
	padding-top: 7px;
}
.social p, .social h4 {
     padding:0px 50px;
}
aside .donate {
	margin: 10px 20px 2px;
	mmmmmmax-width: 400px;
	border: 1px solid #ccc;
	text-align: center;
	padding:25px;
}
.donate h4 {
	color: #A30029;
	padding: 0 0 10px;
	font-weight: bold;
	font-size: 18px;
}
.donate .thanks {padding: 10px;}
.donate .find {font-weight: bold;
	padding: 10px;
	border-top: #CCC solid 1px;
}
#a_state {margin-right: 60px;
}
#accept_state  {clear: both;
	width: 95%; 
	color: #333;
	padding: 20px 40px;
	margin-left: auto;
	margin-right: auto;
	line-height: 155%;
	background-color: #EBCCCC;
}
#bottomLinks {
	line-height: 300%;
}
.join {
	margin: 15px;
}
/*    FOR MAP ON VENUE PAGE   */
.g-map iframe {
	width: 370px;
	height: 250px;
	border: 2px solid red;
}
.thumbnail {
	width: 400px;
	border-radius: 32px 65px;
	/*height: 100px;*/
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}

/*           end Bill custom for 374 < WIDTH < 768px          */
.secondary_header {
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 10px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 5px;
	margin-left: 7%;
}
.container .secondary_header ul {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}

.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.first_article {float: none;width: 100%;}     
.second_article {float: none;width: 100%;}     

.castlistSynopsis {visibility:hidden;height:0px;color:#333;ppadding:0px 10px; margin-left:auto; margin-right: auto; text-align: justify; clear:left;width: 90%; }
.castlistDays {visibility:hidden;height:0px;color:#333;ppadding:0px 10px; margin-left:auto; margin-right: auto; text-align: justify; clear:left;width: 90%; }
#sharedArea {max-width: 95%;
     padding: 10px 0px 10px 10px;
     margin-left:auto;
     margin-right:auto;
     margin-top:10px;
     }
#beSponsor {margin: 0px 25px 0px 0px}     
/* for the auditionj page to display table better on phones
I hide and show another table  */
#phoneTable {visibility: hidden; display:none;}
#notPhoneTable {display: initial; visibility: visible;}
}
     
     
/*  ----- for production history separating other view with Jump To -----  */	
@media (min-width: 426px) and (max-width: 605px) {	
.jump2year {clear: left; padding-top:10px;}
.bios p  {width:100%; padding-right: 0px}
.first_show_img  {content: url("../gondoliers2025/artwork/logo/Gondoliers logo@600w.webp")}
.second_show_img {content: url("../howTo26/logo/FLABhowToChair@500.webp"); width:450px;}              
}
@media (min-width: 451px) and (max-width: 525px) {	
.second_show_img {content: url("../howTo26/logo/FLABhowToChair@500.webp"); width:400px;}              
}
@media (min-width: 426px) and (max-width: 570px) {
.face_tube_text {
     visibility: hidden;
	}     
#facebook_youtube {
	max-width: 140px;
     padding: 0px 15px 0px 20px;}

.face_tube_img {
	height: 40px; width: 40px;
	padding: 0px
	}
 .face_tube_img img {
	height: 40px; width: 40px;
	padding: 0px
	}
.face_tube {
	text-indent: -5px;
     height: 50px;
}
.face_tube:first-line {
    text-indent: -10px;
}
#pageName {font-size: 24px;} 
subtitle {font-size: 20px;}      
#season {font-size: 20px;}
     
/* for the auditionj page to display table better on phones
I hide and show another table  */
#phoneTable {display: initial; visibility: visible;}
#notPhoneTable {visibility: hidden; display:none;}

}
/*  ----- making navigation smaller font -----  */	
@media (min-width: 426px) and (max-width: 450px) {	

#siteName {width: 300px;}
#menu {
	font-size: 14px;}	
.first_show_img  {content: url("../gondoliers2025/artwork/logo/Gondoliers logo@400w.png")}
.second_show_img {content: url("../howTo26/logo/FLABhowToChair@500.webp"); width: 350px;}
#facebook_youtube {
	max-width: 120px;
     padding: 0px 10px 0px 20px;}
.face_tube_img img {
	height: 35px; width: 35px;
	padding: 0px;
	}
.face_tube {
	text-indent: -5px;
     height: 40px;
}

}

