/*      *********     custom for WIDTH > 1001px      *********     */


@media (min-width: 1001px) {


#masthead{
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px solid  #333;
	width: 100%;
	background-color: #FCFCFC;
     height:120px;
}
#siteName {
	font-size: 52px;
	padding: 0px 0px 0px 10px;
}
#facebook_youtube {
	float: right;
	font-size: 12px;
	padding: 0px 20px 0px 20px;
	border-left: dotted grey thin;
     max-width: 150px;
}

#facebook_youtube a:link, #facebook_youtube a:visited, #facebook_youtube a:hover {
	color: #4C588D;
	text-decoration: none; }
#facebook_youtube a:hover {text-decoration: underline;
     }
.face_tube_img img {width:42px;height:42px;}
#menu {
	font-size: 22px;
}
.current_headerA, coming_headerA, .current_headerB, coming_headerB {font-size: 28px;}
.a_sub {font-size: 24px;} 
     
.secondary_header {
	overflow: auto;
     margin: 0px;
	padding-top: 25px;
	padding-bottom: 5px;
     height:  75px;
     width: 1000px;
}
.secondary_header ul li {
	margin-right: 4%;
	margin-bottom: 0px;
	display: inline;
	float: none;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
     padding: 5px 0px;
     line-height: 150%;
}
.secondary_header ul li a.active {
	background-color:aquamarine;
}
.container .secondary_header ul {
     margin: 0px;
     padding: 0px;
     height: auto;
     width: 100%;
     text-align: center;
     list-style-type: none;
}

h3 {font-size: 20px;}
.container {
     font-size: 16px;
     width:1000px;
}
section {
          display: block;
          margin-left: auto;
          margin-right: auto;
}
.ffirst_article {
	background-color: #FFFFFF;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F8F8F8;
     width: 550px;
     clear: both;
	/*  padding-bottom: 15px;   removing space at bottom of 
    season */
}
.social form {
	width: 100%;
	cclear:none;
	text-align: center;
}
aside .donate {
	margin: 40px 30px 2px;
	max-width: 400px;
	border: 1px solid #ccc;
	text-align: center;
	padding:40px;
}
.donate h4 {
	color: #A30029;
	padding: 0 0 10px;
	font-weight: bold;
	font-size: 20px;
}
.donate .thanks {padding: 10px;}
.donate .find {font-weight: bold;
	padding: 10px;
	border-top: #CCC solid 1px;
}
#a_state {margin-right: 15px;}
#accept_state  {clear: both;
	width: 95%; 
	color: #333;
	padding: 20px 40px;
	margin-left: auto;
	ddmargin-right: auto;
	line-height: 155%;
	background-color: #EBCCCC;
}
/*    FOR MAP ON VENUE PAGE   */
.g-map iframe {
	width: 900px;
	height: 500px;
	border: 2px solid red
}
.audition_contact {
	margin-top: 80px;
	padding: 18px;
	font-size: 20px;
	line-height: 250%;
	border: thin solid #A30029;
	background-color: #EBCCCC;
}
.audition_contact .statement {
	text-align: center;
	line-height: 250%;
	text-decoration: underline;
}
#pageName {font-size: 26px;} 
subtitle {font-size: 22px;}      
#season {font-size: 24px;}
     
.show_image {
		float: left;
          width: 100%;
		mmargin-top: 10px;
		mmargin-left: 10px;
		padding-top: 20px;
          text-align: center;
	}
.first_show_img, .second_show_img  {
	width: 95%;
	display: block;
     margin-left: auto;
     margin-right: auto; max-width: 800px;
	}
.first_show_img  {content: url("../gondoliers/logo/Gondoliers logo.webp")}
.second_show_img {clear:both;}          
.second_show_img {content: url("../howTo26/logo/FLABhowToChair.webp")}     
.show_authors, .show_info, .current_directors, .current_venue, .current_castlist {
     text-align: center;
     line-height: 150%;
     padding: 5px 20px;
     margin: auto;
}     
.show_info {clear: both;}    
 
.show_authors {
    padding-top: 25px;
}
#ViewShowSynopsis,  #ViewSpringSynopsis {
     clear: left;
     text-align: center;
     padding: 0px;
}
#ShowSynopsis, #ShowSpringsynopis {
    visibility: hidden;
    height: 0px;
    padding: 0px 20px 10px;
    text-align: justify;
    margin-left: 0px;
}
#buyShowLink, #ViewShowSynopsis,  #viewSynopsis { 
     margin: 0px;
     width: 90%;
}
.hideSynopsisLink {text-align: center;}


.img-circle {
		width: 310px;
	}
/*           end Bill custom  for WIDTH > 1001px           */	
.thumbnail {
	height: 300px;
	border-radius: 50px 100px;
	/*height: 100px;*/
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
}
.social_icon {
     text-align: center;
     ttransition: all 0.3s linear;
     padding-top: 7px;
     margin-top: 15px;
     margin-bottom: 15px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	oopacity: 0.5;
}


.castlist {margin-left:30px; }

.first_article {float: none;width: 100%;}
.first_show_img {max-width: 700px;}     
.second_article {float: none;width: 100%;}     



.castlistSynopsis {visibility:hidden;height:0px;color:#333;padding:0px 15px; margin-left:30px; margin-right: auto; ; text-align: justify; clear:left;max-width: 800px;}
.castlistDays {visibility:hidden;height:0px;color:#333;padding:0px 15px; margin-left:30px; margin-right: auto; text-align: justify; clear:left;max-width: 800px;}
#sharedArea {max-width: 95%;
     padding: 10px 0px 10px 10px;
     margin-left:auto;
     margin-right:auto;
     margin-top:10px;
     }
#beSponsor {margin: 0px 25px 0px 0px}     


/* for the auditionj page to display table better on phones
I hide and show another table  */
#phoneTable {visibility: hidden; display:none;}
#notPhoneTable {display: initial; visibility: visible;}



@media (min-width: 1101px)  and (max-width: 1200px) {
.container {font-size: 16px; width:1100px;}
.secondary_header {width: 1100px;}
.first_article {float: none;width: 100%;}    
.first_show_img {max-width: 800px;}          
.second_article {float:none;width: 100%;} 
.img-circle {width: 400px;}
.second_show_img {max-width: 800px;}          
.second_show_img {content: url("../howTo26/logo/FLABhowToChair.webp")}    
}


@media (min-width: 1201px){
.container {
          font-size: 18px;
          width:1200px;
}
.current_headerA, coming_headerA, .current_headerB, coming_headerB {font-size: 22px;}
.a_sub {font-size: 20px;} 
     
.secondary_header { 
     width:1200px;
}     
.img-circle {
		width: 400px;
}
section {
          display: table;
          margin-left: auto;
          margin-right: auto;
}     
.first_article {display: table-cell;
     width: 700px;
}
.second_article {display: table-cell;
     width: 500px;
}
.firstShow {
          width: 700px;
}
.secondShow {width: 500px;}	
.second_show_img {width: 450px; }     
.first_show_img  {content: url("../gondoliers/logo/Gondoliers logo@500w.webp")}
.second_show_img {content: url("../howTo26/logo/FLABhowToChair.webp")}    
}
}