@charset "UTF-8";
/*      *********     custom for WIDTH < 373      *********     */
/*      *********     custom for WIDTH < 373      *********     */
/*      *********     custom for WIDTH < 373      *********     */
/*      *********     custom for WIDTH < 373      *********     */
/*      *********     custom for WIDTH < 373      *********     */
@media (max-width: 425px) {

/*           begin Bill custom for WIDTH <400px           */
 #masthead {
	margin: 0px 0px 0px 0px;
	padding: 15px 25px 75px 0px;
	border-bottom: 1px solid  #333;
	width: 100%;
	background-color: #FCFCFC;
     height: 64px;
     }
#facebook_youtube {
	float: right;
	font-size: 6px;
	padding: 0px 0px 0px 35px;
	border-left: dotted grey thin;
	line-height: 100%;
     margin-right: 10px;
     }
.face_tube_text {
	visibility: hidden;
     font-size: 2px;
	}
.face_tube_img {
	height: 30px;
	padding: 0px
	}
 .face_tube_img img {
	height: 30px;
	padding: 0px
	}
#facebook_youtube a:link, #facebook_youtube a:visited, #facebook_youtube a:hover {
	color: #4C588D;
	text-decoration: none; }
.face_tube {
	text-indent: -25px;
     height: 30px;
}
.face_tube:first-line {
    text-indent: -20px;
}
     
#facebook_youtube a:hover {
	text-decoration: underline; 
}
#siteName {
	font-size: 24px;
	padding: 0px 0px 0px 10px;
}
#menu {
	font-size: 14px;
}
.current_headerA {font-size: 20px;}
.current_headerB {font-size: 20px;}
.a_sub {font-size: 14px;}
.coming_headerA {font-size: 20px;}
.coming_headerB {font-size: 20px;clear: left;}

.secondary_header {
     clear: both;
     zoverflow: auto;
     margin: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.secondary_header ul li {
     margin-right: 7%;
     margin-bottom: 0px;
     display: inline;
     float: none;
     margin-top: 0px;
     margin-left: 0px;
     width: 100%;
     padding: 5px 0px;
     line-height: 250%;
}
.secondary_header ul li a.active {
	background-color:aquamarine;
}
.container .secondary_header ul {
	height: auto;
	width: 100%;
	text-align: center;
	list-style-type: none;
}	
#pageName {font-size: 20px;} 
subtitle {font-size: 16px;}      
#season {font-size: 18px;}

.show_image {
	margin: 15px;
	}
      
.first_show_img, .second_show_img  {
	width:90%;
	display: block;
     margin-left: auto;
     margin-right: auto;
	}
.first_show_img  {content: url("../howTo26/logo/FLABhowToChair@500.webp")}
.second_show_img {content: url("../grandDuke2026/artwork/logo/GrandDuke-logo@400w.webp")}         
.show_authors, .show_info, .current_directors, .current_venue, .current_castlist {
     text-align: center;
     line-height: 150%;
     padding: 5px 15px;
     margin: auto;
}
.show_authors {
    padding-top: 25px;
}     
h3 {font-size: 20px;
}
.container {font-size: 15px;
}
aside .donate {
	clear: both;
	margin: 10px 20px 2px;
	mmmmmmax-width: 400px;
	border: 1px solid #ccc;
	text-align: center;
	padding:25px;
}
.donate h4 {
	color: #A30029;
	padding: 0 0 10px;
	font-weight: bold;
	font-size: 18px;
}
.donate .thanks {padding: 10px;}
.donate .find {font-weight: bold;
	padding: 10px;
	border-top: #CCC solid 1px;
}
#a_state {margin-right: 60px;
}
#accept_state  {clear: both;
	width: 95%; 
	color: #333;
	padding: 20px 40px;
	margin-left: auto;
	margin-right: auto;
	line-height: 155%;
	background-color: #EBCCCC;
}
#bottomLinks {
	line-height: 300%;
	padding: 0 50px 10px;
}
.thumbnail {
	height:auto;
     width:100%;
	border-radius: 12px 25px;
	/*height: 100px;*/
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
#buyShowLink, #ViewShowSynopsis { 
	font-size: px;
     margin: 0px;
     width: 90%;
}
#ShowSynopsis {
    color: #D8D8D8;
    padding: 0px 5px 10px;
    text-align: left;
    margin-left: 0px;
}
.buy_tickets_small{
	font-size: 12px;
	display: inline-table;
}
.buy_tickets { 
	display: none;
}
     
.tickets {
	margin-left: 15px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	clear: both;
	float: left;
	width: 360px;
	margin: 0px;
	padding: 0px;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.container .secondary_header {
}
.social form {
	width:100%;
	clear:none;
	text-align: center;
}
.social {
}
.social_icon {
	width: 100%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	padding-top: 7px;
	margin: 15px;
}
.join {
	margin: 15px;
}
.social p, .social h4 {
     padding:0px 30px;}
.first_article {float: none;width: 100%;}     
.second_article {float: none;width: 100%;}     
.carousel-cap {font-size: 18px;}     
.carousel-caption {font-size: 14px;}     
.showList {margin:20px 0px 20px 20px; font-size: 0.85em;}
.showList td {padding:2px 0px 0px 5px;}
.jump2year {clear: left; padding-top:10px;}

     
.castlistSynopsis {visibility:hidden;height:0px;color:#333;margin-left:10px; margin-right: auto; ; text-align: justify; clear:left;width: 90%;}
.castlistDays {visibility:hidden;height:0px;color:#333;margin-left:10px; margin-right: auto; ; text-align: justify; clear:left;width: 90%;}
.bios p  {width:100%; padding-right: 0px}
#sharedArea {max-width: 95%;
     padding: 10px 0px 10px 10px;
     margin-left:10px;
     margin-top:10px;
     }
#beSponsor {margin: 0px 20px 0px -20px}     
/* for the auditionj page to display table better on phones
I hide and show another table  */
#phoneTable {display: initial; visibility: visible;}
#notPhoneTable {visibility: hidden; display:none;}

}

@media (max-width: 360px) {

/*           begin Bill custom for WIDTH <360px           */
#masthead{
	margin: 0px;
	padding: 15px 0px 75px 0px;
	border-bottom: 1px solid  #333;
	width: 100%;
	background-color: #FCFCFC;
     hheight: 80px;
     }
#siteName {
	font-size: 22px;
	padding: 0px 0px 0px 10px;}
}
