.donateSec{
    margin-bottom: 3rem;
}
.dFont{
    font-size: 2em;
}


/* -----  Footer ------ */
.footer {
	background-color: #A30029;
     width:100%;
     padding: 0;
     margin:0;
}
#bottomLinks { 
    clear: both;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #F7F100;
	font-size: 80%;
	padding-top: 5px; 
	padding-bottom: 5px;
     width: 100%;
}
#bottomLinks span {
    padding-left: 10px;
	padding-right: 10px;
     white-space: nowrap;
}
#bottomLinks a:link {
	padding: 8px 0px 8px 10px;
	width: 100%;
    voice-family: "\"}\""; 
    voice-family:inherit;
	color: #F7F100;
	text-decoration: none;
}
#bottomLinks a:visited {
	padding: 8px 0px 8px 10px;
	text-decoration: none;
	color: #F7F100;
}
#bottomLinks a:hover {
	background-color: #C03;
	padding: 8px 0px 8px 10px;
	color: #FFFFFF;
	text-decoration: underline;
}
#bottomLinks .active {
	background-color: #FCC;
	padding: 8px 0px 8px 10px;
	color: #999;
	text-decoration: none;

}