@charset "UTF-8";
/*      *********     custom for 769 < WIDTH < 1001px      *********     */
@media (min-width: 769px) and (max-width: 1000px) {
     
/*           begin Bill custom for 769 < WIDTH < 1001px           */
#masthead {
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px solid  #333;
	width: 100%;
	background-color: #FCFCFC;
    height: 100px;
 }
#facebook_youtube {
	float: right;
	font-size: 16px;
	padding: 0px 20px 0px 40px;
	border-left: dotted grey thin;
     max-width: 250px;
     }
#facebook_youtube a:link, #facebook_youtube a:visited, #facebook_youtube a:hover {
	color: #4C588D;
	text-decoration: none; }
.face_tube {
	text-indent: -25px;
}
.face_tube:first-line {
    text-indent: -20px;
}
#facebook_youtube a:hover {
	text-decoration: underline; 
     }
.face_tube_text {
	visibility:visible;
     font-size: 12px;
	}
.face_tube_img img {
	width: 40px; height: 40px;
	padding: 0px
	}
 /*.face_tube_img {
	height: 30px;
	padding: 0px
	} */
#siteName {
	font-size: 36px;
	padding: 15px 0px 0px 25px;
}
#companyTag {
    font-size: 15px;
    margin-top: 0px;
    }         
#logo img {float: left;
    padding: 0px 20px 10px 20px;
    height: 90px;
    }    
    
#menu {
	font-size: 18px;
}
.current_headerA, .coming_headerA {font-size: 28px;}
.current_headerB, .coming_headerB {font-size: 20px;}
.a_sub {font-size: 20px;}
.coming_headerB {clear:left;}
     
.secondary_header {
	overflow: auto;
     margin: 0px;
     padding-right: 5px;
     padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 0px;
     height:  50px;
}
.secondary_header ul li {
	margin-right: 7%;
	margin-bottom: 0px;
	display: inline;
	float: none;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
     padding: 5px 0px;
     line-height: 150%;
}
.secondary_header ul li a.active {
	background-color:aquamarine;
}
.container .secondary_header ul {
     margin: 0px;
     padding: 0px;
     height: auto;
     width: 100%;
     text-align: center;
     list-style-type: none;
}
#pageName {font-size: 26px;} 
subtitle {font-size: 22px;}      
#season {font-size: 24px;}
     
.show_image {
	margin: 15px;
	}
.first_show_img, .second_show_img  {
	max-width: 95%;
	display: block;
     margin-left: auto;
     margin-right: auto;
	}
.first_show_img  {content: url("../../gondoliers/logo/Gondoliers logo@600w.webp")}
.second_show_img  {clear: both;padding-top: 20px;content: url( "../../howTo26/FLABAhowToChair@500.webp")}
         
.show_authors, .show_info, .current_directors, .current_venue, .current_castlist {
     text-align: center;
     line-height: 150%;
     padding: 15px 0px;
}

.show_authors {
    padding-top: 25px;
}     
h3 {font-size: 20px;
}
.container {font-size: 15px;
}
aside .donate {
     clear: both;
     margin: 10px 20px 2px;
	mmmmmmax-width: 400px;
	border: 1px solid #ccc;
	text-align: center;
	padding:25px;
}
.donate h4 {
	color: #A30029;
	padding: 0 0 10px;
	font-weight: bold;
	font-size: 18px;
}
.donate .thanks {padding: 10px;}
.donate .find {font-weight: bold;
	padding: 10px;
	border-top: #CCC solid 1px;
}
#a_state {margin-right: 40px;
}
#accept_state  {clear: both;
	width: 95%; 
	color: #333;
	padding: 20px 40px;
	margin-left: auto;
	margin-right: auto;
	line-height: 155%;
	background-color: #EBCCCC;
}
#bottomLinks {
	line-height: 300%;
	padding: 0 50px 10px;
}
.thumbnail {
	width: 725px;
	border-radius: 32px 65px;
	/*height: 100px;*/
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.buy_tickets_small{ 
	display: none;
}
.tickets {
	margin-left: 15px;
}
.left_article {
	width: 100%;
     height: auto;
}
.right_article {
	width:100%;
     height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	clear: both;
	float: left;
	width: 300px;
	margin: 0px;
	padding: 0px;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.container .secondary_header {
}
.social form {
	width: 100%;
	text-align: center;
}
.snippets .pixel {
	width: 1px;
	height: 1px;
}
.social {
     }
.social_icon {
	width: 100%;
	text-align: center;
	transition: all 0.3s linear;
	padding-top: 7px;
}

/*    FOR MAP ON VENUE PAGE   */
.g-map iframe {
	width: 700px;
	height: 400px;
	border: 2px solid red
}

#buyShowTickets {
    visibility: hidden;
    width: 300px;
    padding: 0px 5px 10px;
    height: 0px;
    clear: both;
    margin-left: 20px;
}
#ViewShowSynopsis,  #viewSynopsis {
     clear: left;
     text-align: center;
}
#ShowSynopsis, #ShowSpringsynopis {
    visibility: hidden;
    height: 0px;
    padding: 0px 20px 10px;
    text-align: justify;
    margin-left: 20px;
    margin-left: 0px;
}
#buyShowLink, #ViewShowSynopsis,  #viewSynopsis { 
     margin: 0px;
     width: 90%;
}
.hideSynopsisLink {text-align: center;}
.carousel-cap {font-size: 20px;}

.first_article {float: none;width: 100%;}     
.second_article {float: none;width: 100%;}     
     
.castlistSynopsis {visibility:hidden;height:0px;color:#333; margin-left:auto; margin-right: auto;  text-align: justify; clear:left;width: 90%; max-height: 800px;}
#sharedArea {max-width: 95%;
     padding: 10px 0px 10px 10px;
     margin-left:auto;
     margin-right:auto;
     margin-top:10px;
     }
#beSponsor {margin: 0px 25px 0px 0px}     
/* for the auditionj page to display table better on phones
I hide and show another table  */
#phoneTable {visibility: hidden; display:none;}
#notPhoneTable {display: initial; visibility: visible;}
     
}


/*      *********     custom for WIDTH > 1001px      *********     */
/*      *********     custom for WIDTH > 1001px      *********     */
/*      *********     custom for WIDTH > 1001px      *********     */
/*      *********     custom for WIDTH > 1001px      *********     */
/*      *********     custom for WIDTH > 1001px      *********     */
/*      *********     custom for WIDTH > 1001px      *********     */

@media (min-width: 769px) and (max-width: 905px) {
.secondary_header {
	overflow: auto;
     margin: 0px;
     padding-right: 5px;
     padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 5px;
     height:  95px;
     line-height: 200%;
}
}