
  <section>
    <h2 class="noDisplay">Main Content</h2>
                   <article class="left_article">
                              <h1 id="pageName">TICKETS</h1>
                              <h2 class="storyHead" style="visibility: hidden;"><i>State Fair</i></h2>
                              <div style="margin: 20px;"><img style="background-color: white;  max-width: 800px;margin-left: auto;margin-right: auto;" src="gondoliers/logo/Gondoliers logo.webp" alt="The State Fair logo" class="img-responsive" name="statefair"  title="" hspace="0" vspace="0" /></div>

                              <div id="tickets">
                                   <p style="max-width: 800px;margin-left: auto;margin-right: auto;font-size: 1.1em;color:#003366;"><b>Are you looking for a gift idea? Tickets make a great present.</b></p>
                                                  <p class="ticketsButton"><a class="ticketZeffy" title="Go to Zeffy to Buy Tickets to Glbert & Sullivan's The Gondoliers" href="https://www.zeffy.com/ticketing/the-gondoliers-tickets">Buy Tickets</a></p>
                                                  <p>Peformances are at <a href="Venue.php">Strath Haven Middle School</a>, 200 South Providence Road, Wallingford, PA 19086.</p>

                                                  <p>All tickets are general admission and good for <b><i>any</i></b> performance.
                                                       <ul class="ticketPrice" style="margin-top: -10px;">Adult - $25.00</ul>
                                                       <ul class="ticketPrice">Senior (60+)/Student - $20.00</ul>
                                                       <ul class="ticketPrice">Child (12 and under) - $10.00</ul>
                                                  </p>
                                                  <p>For information on Group tickets, e-mail <a href="mailto:groups@rvco.org">groups@rvco.org</a>.
                                                      <ul style="margin-left: 25px; margin-top: -10px;"><li>$15 each for 10 or more tickets</li>
                                                      <li>Tickets must be for the same performance</li></ul></p>
                                   <p>Performances:
                                                       <ul class="showDates" style="margin-top: -10px;">Saturday, November 8 at 2 p.m. and 8 p.m.</ul>
                                                       <ul class="showDates">Sunday, November 9 at 2 p.m.</ul>
                                                       <ul class="showDates">Wednesday, November 12 at 8 p.m.</ul>
                                                       <ul class="showDates">Saturday, November 15 at 2 p.m. and 8 p.m.</ul>
                                                       <ul class="showDates">Sunday, November 16 at 2 p.m.</ul>
                                                  <!--<ul><span style="font-size: 0.8em;">(Show dates and times are subject to final confirmation with the venue.)</span></ul>-->
                                                  </p>
                                                  
                                                  <p>For questions, e-mail <a href="mailto:tickets@rvco.org">tickets@rvco.org</a> or call : <font class="high">610-565-5010</font><!--<font class="high">484-981-9108</font>--></p>
                                   
	  
<!-- Inclement Weather Cancelation message	  
	  <div style="border: solid #8E1B1D 2px;margin-bottom: 20px;text-align: center;max-width:800px"><span style="font: Arial; font-size: 24px;font-weight: bold">ATTENTION! No performance tonight!</span><br />
		Due to the school canceling all evening activities because of inclement weather, tonight's performance (Thursday, November 15) has been cancelled.<br /><br /> 
		We will see you on Saturday (2 pm and 8 pm performances) and Sunday (2 pm performance)!<br /><br /></div>
End of Inclement Weather Cancelatio message -->	  

                              </div>
                    </article>
  </section>