<header id="headerContainer" hx-swap-oob="true">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Rose Valley Chorus & Orchestra</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" hx-get="/index.html" hx-target="#content" hx-push-url="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" hx-get="/about.html" hx-target="#content" hx-push-url="true">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" hx-get="/tickets.html" hx-target="#content" hx-push-url="true">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" hx-get="/venue.html" hx-target="#content" hx-push-url="true">Venue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" hx-get="/auditions.html" hx-target="#content" hx-push-url="true">Auditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" hx-get="/contacts.html" hx-target="#content" hx-push-url="true">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-success" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </nav>
</header>