<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" hx-get="home.html" hx-target="#content" hx-trigger="click">RVCO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="home.html" hx-get="home.html" hx-target="#content" hx-trigger="click">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" hx-get="about.html" hx-target="#content" hx-trigger="click">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="productions.html" hx-get="productions.html" hx-target="#content" hx-trigger="click">Productions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html" hx-get="contact.html" hx-target="#content" hx-trigger="click">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
