<header id="headerContainer">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" data-page="home">Rose Valley Chorus & Orchestra</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="#" data-page="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-page="about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-page="tickets">Tickets</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-page="venue">Venue</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-page="auditions">Auditions</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-page="contact">Contact Us</a></li>
        </ul>

        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Log In</button>
        </form>
      </div>
    </div>
  </nav>
</header>
